body {
  margin: 0;
  padding: 0;
}
.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapbox-control button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mapbox-control button.-active {
  background: rgba(0, 0, 0, 0.03);
}

.mapbox-control-cell-popup {
  position: absolute;
  padding-top: 5px;
  transform: translate(-50%, 0);
}
.mapbox-control-cell-content {
  position: relative;
  padding: 8px 14px;
  font-size: 1rem;
  font-family: sans-serif;
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}

.mapbox-control-grid-selector-modal-cancel-button,
.mapbox-control-grid-selector-modal-select-button {
  border-radius: 32px;
  padding: 16px 48px;
  border-color: #b6a4ff;
  font-size: 16px;
  border-style: double;
}

.mapbox-control-grid-selector-modal-root {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.4);
}
.mapbox-control-grid-selector-modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 46%;
  max-width: 680px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 16px;
}
.mapbox-control-grid-selector-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 30px;
  background-color: white;
  color: black;
  border-radius: 16px;
}
.mapbox-control-grid-selector-modal-body {
  display: flex;
  align-items: center;
  padding: 30px 30px;
}
.mapbox-control-grid-selector-modal-divider {
  margin: 0;
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
}
.mapbox-control-grid-selector-modal-header-title {
  color: #444444;
  font-size: 28px;
  font-weight: 500;
  margin-right: 78px;
  margin-bottom: 16px;
}
.mapbox-control-grid-selector-modal-title {
  color: black;
  font-size: 17px;
  font-weight: bold;
  margin-right: 78px;
  margin-bottom: 36px;
}
.mapbox-control-grid-selector-modal-size {
  color: #6d7278;
  font-size: 17px;
  margin-bottom: 36px;
}
.mapbox-control-grid-selector-modal-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
}
.mapbox-control-grid-selector-modal-select {
  padding: 8px;
  padding-right: 16px;
  cursor: pointer;
}
.mapbox-control-grid-selector-modal-close-button {
  background: transparent;
  border: transparent;
  padding-top: 8px;
  cursor: pointer;
}
.mapbox-control-grid-selector-modal-select-button {
  background-color: #b6a4ff;
  color: white;
  cursor: pointer;
}
.mapbox-control-grid-selector-modal-cancel-button {
  background-color: white;
  color: #b6a4ff;
  cursor: pointer;
}

.mapbox-control-tiles-selector-tooltip-root {
  width: fit-content;
  height: fit-content;
  padding: 8px 8px 4px;
  display: none;
  position: absolute;
  z-index: 1;
  overflow: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mapbox-control-tiles-selector-tooltip-content {
  display: flex;
}
.mapbox-control-tiles-selector-tooltip-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mapbox-control-tiles-selector-tooltip-button {
  width: 29px;
  height: 29px;
  padding: 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 4px 7px;
}
.mapbox-control-tiles-selector-tooltip-button-description {
  font-size: 11px;
  margin: 0px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
}

/*# sourceMappingURL=unl-map-js.css.map */

/*# sourceMappingURL=unl-map-js.css.map */
